body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

textarea {
  resize: none;
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.twitter,
.facebook,
.instagram,
.linkedin {
  width: 20px;
  height: 20px;
  color: currentColor;
}

.logo__accent {
  font-family: var(--logo-font);
  color: var(--logo-accent);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__dark {
  font-family: var(--logo-font);
  color: var(--text-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo__white {
  font-family: var(--logo-font);
  color: var(--text-accent);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header-nav__list .header-nav__item:not(:last-child) {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__link {
  position: relative;
  display: block;
  font-family: var(--main-font);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav__link.header-nav__link--current {
  color: var(--logo-accent);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-nav__link:hover,
.header-nav__link:focus {
  font-family: inherit;
  color: var(--logo-accent);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__info {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 30px;
}

.contacts-header__info:hover,
.contacts-header__info:focus {
  color: #2196f3;
}

.contacs-header__mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacs-header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */